@font-face {
  font-family: "Codec-Cold";
  src: local("MyFont"),
    url(./Fonts/Codec-Cold-Regular-trial.ttf) format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Codec-Cold", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root,
body,
html {
  min-height: 100vh;
  min-width: 100vw;
}

a {
  text-decoration: none !important;
}

#edit-sidebar > .pro-sidebar-inner {
  @apply bg-zinc-700;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout {
  z-index: 3 !important;
}

.custom-checkbox {
  @apply appearance-none h-4 w-4 border border-gray-300 rounded-sm text-green-300 bg-gray-200 hover:bg-gray-500 checked:bg-green-600 checked:border-cyan-600  transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer;
}

.red-button {
  @apply flex text-white text-xs p-2 bg-MatRed rounded w-32 justify-around items-center;
}

.blue-button {
  @apply flex text-white text-xs p-2 bg-MatBlue disabled:bg-slate-400 rounded w-32 justify-around items-center;
}

.blue-tab {
  @apply h-2 w-20 border-t-4 rounded border-MatBlue transition-all;
}

#edit-sidebar .pro-inner-item {
  padding: 0 !important;
}
